$custom-white: (
        50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: white,
                500: white,
                600: $white-87-opacity,
                700: $white-87-opacity,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: white,
                A700: $white-87-opacity,
        ));

$custom-pink: (
        50: #feedf3,
        100: #fedbe7,
        200: #fdb8d0,
        300: #fa5f97,
        400: #fa4d8b,
        500: #fa3c80,
        600: #fa3c80,
        700: #fa3c80,
        800: #fa3c80,
        900: #fa3c80,
        A100: #fa3c80,
        A200: #fa3c80,
        A400: #fa3c80,
        A700: #fa3c80,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: white,
                500: white,
                600: $white-87-opacity,
                700: $white-87-opacity,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: white,
                A700: $white-87-opacity,
        )
);

$custom-light-grey: (
        50:  #c9cace,
        100: #c9cace,
        200: #c9cace,
        300: #c9cace,
        400: #c9cace,
        500: #c9cace,
        600: #c9cace,
        700: #c9cace,
        800: #c9cace,
        900: #c9cace,
        A100:#c9cace,
        A200:#c9cace,
        A400:#c9cace,
        A700:#c9cace,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: white,
                500: white,
                600: $white-87-opacity,
                700: $white-87-opacity,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: white,
                A700: $white-87-opacity,
        )
);

$custom-grey: (
        50:  #8a8b8b,
        100: #8a8b8b,
        200: #8a8b8b,
        300: #8a8b8b,
        400: #8a8b8b,
        500: #8a8b8b,
        600: #8a8b8b,
        700: #8a8b8b,
        800: #8a8b8b,
        900: #8a8b8b,
        A100:#8a8b8b,
        A200:#8a8b8b,
        A400:#8a8b8b,
        A700:#8a8b8b,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: white,
                500: white,
                600: $white-87-opacity,
                700: $white-87-opacity,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: white,
                A700: $white-87-opacity,
        )
);